
{% extends "GembaWebBundle::layout.html.twig" %}

{% block title %}{{ parent() }} {{ block }}{% endblock %}

{% block keywords %}{{ block.keywords }}{% endblock %}
{% block description %}{{ block.description }}{% endblock %}

{% block nav %}

    <div class="container">
        <div class="sixteen columns">
            <ul class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">{{ block }}</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block body %}

    {% include "GembaWebBundle::block_row.html.twig" %}

{% endblock %}
