
{% extends "GembaWebBundle::layout.html.twig" %}

{% block title %}{{ parent() }} {{ block }}{% endblock %}

{% block keywords %}{{ block.keywords }}{% endblock %}
{% block description %}{{ block.description }}{% endblock %}

{% block nav %}

    <div class="container">
        <div class="sixteen columns">
            <ul class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">{{ block }}</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block body %}
<div class="row">

    {% for layout in layouts if layout.smalltext | length %}

        <div class="sixteen columns">
            <div class="underline-heading">
                <h4 class="">{{ layout.subject }}</h4>
            </div>
        </div>

        {% for text in layout.smalltext %}

            {% if layout.layout == 'one_column' %}
                <div class="sixteen columns">
            {% elseif layout.layout == 'two_column' %}
                <div class="eight columns">
            {% elseif layout.layout == 'three_column' %}
                <div class="one-third column">
            {% elseif layout.layout == 'four_column' %}
                <div class="four columns">
            {% endif %}

                    {% if text.style == 'text' %}
                        {% if text.link %}
                        <h1><a href="{{ text.link }}">{{ text.subject | raw }}</a></h1>
                        {% else %}
                        <h1>{{ text.subject | raw }}</h1>
                        {% endif %}
                    </div>
                        <div class="eight columns">
                            <h4><strong>{{ text.lTitle | raw }}</strong></h4>
                            {{ text.lContent | raw }}
                        </div>

                        <div class="eight columns">
                            <h4><strong>{{ text.rTitle | raw }}</strong></h4>
                            {{ text.rContent | raw }}
                        </div>
                    <div>
                    {% elseif text.style == 'smalltext' %}


                        <div class="underline-heading">
                            <h3>{{ text.subject | raw }}</h3>
                        </div>
                        {{ text.content | raw }}

                    {% elseif text.style == 'left' %}
                        <a href="{{ asset('attachments/'~text.file) }}">
                            <img src="{{ asset('attachments/'~text.file) }}" alt="Image" class="image-left fancybox">
                        </a>
                        <h4>{{ text.subject | raw }}</h4>
                        {{ text.content | raw }}

                    {% elseif text.style == 'right' %}
                        <a href="{{ asset('attachments/'~text.file) }}">
                            <img src="{{ asset('attachments/'~text.file) }}" alt="Image" class="image-right fancybox">
                        </a>
                        <h4>{{ text.subject | raw }}</h4>
                        {{ text.content | raw }}

                    {% elseif text.style == 'center' %}

                        <a href="{{ text.link }}">
                        <div class="featured-box-2">
                            <img src="{{ asset('attachments/'~text.file) }}">
                            <h4>{{ text.subject | raw }}</h4>

                                {{ text.content | raw }}

                        </div>
                        </a>
                    {% elseif text.style == 'top' %}
                            <a href="{{ asset('attachments/'~text.file) }}">
                                <img src="{{ asset('attachments/'~text.file) }}" alt="Image" class="image-center fancybox">
                            </a>
                            <h4>{{ text.subject | raw }}</h4>
                            {{ text.content | raw }}

                    {% elseif text.style == 'highlight' %}
                    </div>
                </div>
                </div>



                    <div class="full-width-container light text-center">
                        <div class="container">
                            <div class="row">

                                <h2>{{ text.subject | raw }}</h2>
                                {{ text.content | raw }}
                                <a href="{{ text.link }}" target="_blank" class="button">详细</a>

                            </div>
                        </div>
                    </div>

                    <div class="main-wrapper">
                        <div class="container">
                            <div class="row">

                    {% endif %}
            </div>

        {% endfor %}
            {% endfor %}
</div>
{% endblock %}
