{% extends "GembaWebBundle::layout.html.twig" %}

{% block title %}擀霸企业管理咨询(上海)有限公司 {% endblock %}

{% block keywords %}{% if seo %}{{ seo.keywords | striptags }}{% endif %}{% endblock %}
{% block description %}{% if seo %}{{ seo.description | striptags }}{% endif %}{% endblock %}

{% block nav %}

    <div class="container">
        <div class="sixteen columns">
            <ul class="breadcrumb">
                <li><a href="/">首页</a></li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block body %}

    <div id="insider">
        <!-- Nivo SLider -->
        <div id="nivoslider" class="nivoSlider theme-light">

            {% for key , slider in sliders %}
                <img src="{{ asset('attachments/' ~ slider.file) | imagine_filter('big_slider') }}" style="width: 200px;" title="#htmlcaption{{ key }}"/>
            {% endfor %}

        </div>

        {% for key , slider in sliders %}
            <div id="htmlcaption{{ key }}" class="nivo-caption">
                <p>{{ slider.content | raw }}</p>
                <hr/>
                <p><a href="{{ slider.link }}" class="button black">了解更多</a></p>
            </div>
        {% endfor %}
    </div>

    <div class="main-wrapper">
        <div class="container">

            {% include "GembaWebBundle::block_row.html.twig" %}


            <div class="sixteen columns">
                <div class="underline-heading">
                    <h4 class=""><a href="{{ path('feed_home') }}">新闻资讯</a></h4>
                </div>
            </div>

            {% for feed in feeds %}
                <div class="four columns">
                    <div class="underline-heading">
                        <h5 class=""><a href="{{ path('feed_read', {'id': feed.id}) }}">{{ feed }}</a></h5>
                    </div>

                    {% if feed.file %}<img src="{{ asset('attachments/'~feed.file)  | imagine_filter('poster') }}">{% endif %}

                    <p>{{ feed.content | striptags | truncate(100) }}</p>
                </div>

            {% endfor %}


            <div class="row">
                <div class="sixteen columns">
                    <div class="underline-heading">
                        <h4 class=""><a href="{{ path('blog_home') }}">热门博客</a></h4>
                    </div>
                    <p>一些点击量最高的热门的博客</p>
                </div>

                <div style="overflow: visible;" class="carousel touchcarousel grey-blue">
                    <div style="cursor: grab;" class="touchcarousel-wrapper"><div style="width: 1440px; left: 0px;" class="touchcarousel-container">
                            {% for blog in blogs %}
                                <!-- Item -->
                                <div class="four columns touchcarousel-item">
                                    <a href="{{ path('post' , {'id': blog.id}) }}">
                                        <img src="{{ asset('attachments/' ~ blog.file) | imagine_filter('poster') }}" alt="Post" class="image-polaroid">
                                        <h4>{{ blog.subject }}</h4>
                                        <p>{{ blog.content | striptags | truncate(50) }}</p>
                                    </a>
                                </div>
                            {% endfor %}

                        </div></div>
                    <div class="scrollbar-holder"><div style="width: 632px; left: 0px;" class="scrollbar dark"></div></div></div>
            </div>
    </div>
    </div>
{% endblock %}
